
  
  <!-- <div class="container-fluid form">
    <div class="row form-row ">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Forgot Password</h5>
                    <div>
                        <div id="errorMsg" *ngIf="errorMessage">
                            <span>{{errorMessage}}</span>
                        </div>
                        <div id="successMsg" *ngIf="successMessage">
                            <span>{{successMessage}}</span>
                        </div>
                        <form action="" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser(RequestResetForm)">
                            <div class="form-group">
                                <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="Enter Your Email"
                                    type="text" id="email" formControlName="email" />
                                <span *ngIf="!RequestResetForm.get('email').valid && !IsvalidForm"
                                    class="help-block">Please enter a valid email!</span>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class=" btn btn-success  ">Reset
                                        Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <div id="forgot-password" fxLayout="column">

        <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    
            <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
    
                <div class="logo">
                    <img src="assets/images/logos/fuse.svg">
                </div>
    
                <div class="title">RECOVER YOUR PASSWORD</div>
                <div class="row">
                    <div  >
                        <app-alert></app-alert>
                     </div>
                </div> 
                <form action="" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser(RequestResetForm)"novalidate>
                    <div class="form-group">

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput   id="email" formControlName="email">
                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                        
                        <span *ngIf="!RequestResetForm.get('email').valid && !IsvalidForm"
                        class="help-block">Please enter a valid email!</span>
                    </mat-form-field>
    </div>
    <div class="form-group">

                    <button mat-raised-button class="submit-button" color="accent"
                            aria-label="SEND RESET LINK" [disabled]="RequestResetForm.invalid">
                        SEND RESET LINK
                    </button></div>
                </form>
    
                <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a routerLink="/login">Go back to login</a>
                </div>
    
            </div>
    
        </div>
    
    </div>